body {
    background-color: lightgray;
}

canvas {
    background-color: white;
    display: block;
    margin: 0 auto;
}

#swapper {
    width: 320px;
    margin: 1em auto;
    padding: 0;
}

.colorTile {
    display: inline-block;
    line-height: 2em;
    width: 2em;
}

form {
    font-family: sans-serif;
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: inline-block;
    text-align: right;
    width: 4em;
}

input[type="text"] {
    width: 2em;
    height: 2em;
}
